{{> header}}

{{{emailBody}}}
{{#if firstName}}
<p>Hey {{firstName}},</p>
<br>
{{/if}}

{{Reflection}}

Timeline
<p>{{timeline}}</p>

Quotes
<ul class="people_list">
  {{#each people}}
    <li>{{this}}</li>
  {{/each}}
</ul>

Pictures
<img src="{{image}}">

{{> footer}}
